.custom-textarea{
    border: 2px solid var(--spacer-light);
    opacity: 1;
    border-radius: 2px;
    gap: 10px;
    font-family: 'Poppins';
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    resize: none;

    input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 14px;
        resize: none;
        overflow: hidden;
        width: 100%;
    }

    @each $size, $values in (
    medium: (
        padding: 12px,
        input-height: 20px
    ),
    small: (
        padding: 8px 12px,
        input-height: 20px
    )) {
    &.#{$size} {
        height: map-get($values, height);
        padding: map-get($values, padding);

        input {
            height: map-get($values, input-height);
        }}
    }

    input:placeholder-shown {
        color: var(--border);
    }

    &:focus-within{
        border-color:var(--purple);
        outline-color: var(--purple);
    }

    &:disabled {
        background-color: var(--disabled);
        border-color: var(--spacer-light);
        cursor: not-allowed;
    } 

    &::-webkit-scrollbar {
        height: 0px; 
    }

    &.error{
        border-color: var(--error);
    }
}