.custom-input{
    border: 2px solid var(--spacer-light);
    opacity: 1;
    border-radius: 2px;
    gap: 10px;
    font-family: 'Poppins';
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    resize: none;

    input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 14px;
        resize: none;
        overflow: auto;
        width: 100%;
    }

    &.normal {
        height: 40px;
        padding: 12px;
        input {
            height: 20px;
        }
    }

    &.small {
        height: 36px;
        padding: 8px 12px;
        input {
            height: 20px;
        }
    }

    input:placeholder-shown {
        color: var(--border);
    }

    &:focus-within{
        border-color:var(--purple);
        outline-color: var(--purple);
    }

    &:disabled {
        background-color: var(--disabled);
        border-color: var(--spacer-light);
        cursor: not-allowed;
    } 
  
    &:invalid  {
        height: 68px;
        border-color: var(--error);
        gap: 4px;
    
        &::after {
            content: "Error"; // to do: reemplazar "Error" por el mensaje real
            display: block;
            height: 20px;
            font-family: 'Poppins';
            font-size: 14px;
            font-weight: 400;
            line-height: 19.6px;
            text-align: right;
            color: var(--error);
        }
    }

    &::-webkit-scrollbar {
        height: 0px; 
    }
}
  