<div class="form-item" *ngFor="let field of fields">
    <ng-container *ngIf="field.type === 'textarea'; else inputTemplate">
        <app-textarea 
            [control]="field.control" 
            [label]="field.label" 
            [size]="field.size"
        ></app-textarea>
    </ng-container>
    <ng-template #inputTemplate>
        <app-input 
            [control]="field.control" 
            [label]="field.label" 
            [size]="field.size"
        ></app-input>
    </ng-template>
    <app-error-label *ngIf="field.control.invalid && (field.control.touched ||field.control.dirty)" 
        [message]="field.message"
    ></app-error-label>
</div>