<div class="form-item" *ngFor="let field of fields">
    <ng-container [ngSwitch]="field.type">
        <app-textarea
            *ngSwitchCase="'textarea'"
            [control]="field.control"
            [label]="field.label"
            [size]="field.size">
        </app-textarea>
        
        <app-input-date
            *ngSwitchCase="'date'"
            [control]="field.control"
            [label]="field.label"
            [size]="field.size"
            [minDate]="field.minDate"
            [maxDate]="field.maxDate">
        </app-input-date>
        
        <app-input
            *ngSwitchDefault
            [control]="field.control"
            [label]="field.label"
            [size]="field.size">
        </app-input>
    </ng-container>

    <app-error-label 
        *ngIf="field.control.invalid && (field.control.touched || field.control.dirty)" 
        [message]="field.message">
    </app-error-label>
</div>
