.custom-button {
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 15px 30px 0px var(--shadow);
    gap: 8px;

    font-family: 'poppins';
    font-weight: 400;
    text-align: center;
    background-color: var(--purple);
    color: var(--white);
  
    @each $size, $values in (
      large: (
        min-width: 163px,
        min-height: 48px,
        font-size: 18px,
        padding: 12px 52px
      ),
      medium: (
        min-width: 109px,
        min-height: 40px,
        font-size: 16px,
        padding: 8px 28px
      ),
      small: (
        min-width: 70px,
        min-height: 28px,
        font-size: 14px,
        padding: 4px 12px
      )
    ) {
      &.#{$size} {
        min-width: map-get($values, min-width);
        min-height: map-get($values, min-height);
        font-size: map-get($values, font-size);
        padding: map-get($values, padding);
      }
    }
  
    &:hover {
      background-color: #AE60EB;
    }
  
    &:active {
      background-color: #6A17AB;
    }
  
    &:disabled {
      background-color: var(--disabled);
      cursor: not-allowed;
    }
  }
  