:root {
  --purple: #9D3FE7;
  --gradient: linear-gradient(159.13deg, #9D3FE7 -24.13%, #602093 132.21%);
  --black: #1A141F;
  --hint-text: #4B3A5A;
  --border: #ABA7AF;
  --disabled: #D4D2D5;
  --spacer: #D9D1E0;
  --spacer-light: #E5E0EB;
  --bg-light-grey: #F5F3F7;
  --white: #FFFFFF;
  --error: #D51A52;
  --attention: #FF9500;
  --approval: #00B998;
  --link: #0F0BAB;
  --shadow: rgba(62, 19, 77, 0.09)
  --pop-up: rgba(62, 19, 77, 0.47)
}
