.app-container {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px; 
}

.category-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    flex-direction: column;
}