header {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--spacer-light);
  gap: 3rem;
  box-sizing: border-box; 
  margin-left: auto;
}

.auth-buttons {
  margin-left: auto; 
  display: flex;
  gap: 8px;
}