<app-header></app-header>

<div class="app-container">
    
    <app-form 
        class="item-form"
        *ngIf="isAdmin"
        [formName]="formName"
        [button]="button"
        [formFieldsConfig]="formFieldsConfig"
        [errorMessage] = "errorMessage"
        (formSubmit)="onFormSubmit($event)"
    ></app-form>

    <app-full-table 
        class="item-table"
        [labels]="labels" 
        [data]="items" 
        [pagination]="pagination" 
        [loadDataFunction]="loadData.bind(this)"
        (sortChange)="onSortChange($event)">
    </app-full-table>

</div>

<app-footer></app-footer>